<form class="" action="productosFiltrados" method="POST" enctype="form-data" id="form-filtros">
    <h5 class="filtro-titulo">Filtros</h5> 
    <hr>       
    <h5 class="filtro-subtitulo">Precio</h5>                
    <!-- FILTROS DE PRECIO -->
    <div class="price-input">
      <div class="field price-mg d-flex">                           
        <input name="precioMinimo" type="number" class="input-min" value="" placeholder="Min">
      </div>                          
      <div class="field">                            
        <input name="precioMaximo" type="number" class="input-max" value="" placeholder="Max">
      </div>
    </div>
    <div class="slider">
      <div class="progress"></div>
    </div>
    <div class="range-input">
      <input type="range" class="range-min" min="0" max="30000" value="7500" step="100">
      <input type="range" class="range-max" min="0" max="30000" value="22500" step="100">
    </div> 

    <% for (const [atributo, filtros] of Object.entries(atributos)){ %>  
        <% if (atributo == "categoria" && categoria != "todosLosProductos") continue %>            
        <% if (atributo == "varietal" && categoria != "vinos") continue %> 
        <% if (atributo == "variedad" && categoria != "vinos") continue %> 
        <hr style="margin-top: 1.75rem;">
        <h5 class="filtro-subtitulo"><%= atributo.substring(0,1).toUpperCase()+ atributo.substring(1).toLowerCase() %></h5>
        <% for (const [filtro, cantidad] of Object.entries(filtros)){ %>                                    
            <div class="form-check">
                <input name="<%= atributo %>" class="form-check-input" type="checkbox" value="<%= filtro %>" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    <%= filtro %> (<%= cantidad %>)
                </label>
            </div>
        <% } %>
    <% } %>        
    
    <!-- BOTON PARA ENVIAR EL FORMULARIO -->
    <div class="mt-4 mb-4 d-flex justify-content-center">
        <button class="boton-filtros" type="submit"> Aplicar filtos </button>
    </div>                                                     
</form>