<div class="container-fluid mt-5 ">
    <div class="row ">
        <div class="owl-carousel owl-theme ">
            <% if (productos.length > 0) { %>
                <% productos.forEach(producto => { %>
                    <div class="item">                       
                        <div>
                            <a href="/detalleProducto/<%= producto.id %>">
                                <img src="images/vinos/<%= producto.imagen %>" alt="" srcset="" class="tarjeta-imagen">
                            </a>
                        </div>
                        <div class="contenido-tarjeta">                                
                            <a href="/detalleProducto/<%= producto.id %>">
                                <p class="tarjeta-nombre"><%= producto.nombre %></p>
                                <% if (producto.descuento > 0) { %>
                                    <div class="d-flex justify-content-center align-items-center">
                                        <div class="descuento  mrg-rg-1"> %<%= producto.descuento %> Off</div>
                                        <p class="precio-oferta mrg-rg-1">$<%= producto.precio %></p>
                                        <p id="precio-con-descuento"> $<%= Math. round(producto.precio - ((producto.precio * producto.descuento) / 100)) %></p>
                                    </div>                                    
                                <% } else { %>
                                    <p>$<%= producto.precio %></p>
                                    <% } %>                                
                            </a>
                        </div>
                        <div class="boton-tarjeta-ultimos-ingresos">
                            <a href="/detalleProducto/<%= producto.id %>">
                                Ver Producto
                            </a>
                        </div>                             
                    </div>                                                                                     
                    
                <% }) %>
            <% } %>
        </div>
    </div>
</div>           